body {
  font-family: "Roboto", sans-serif;
  background-color: #6a62d2;
}
.container {
  width: 450px;
  height: 450px;
  background-color: white;
  margin-top: 100px;
  margin-left: 450px;
  border-radius: 2%;
}
.signtext {
  font-size: 20px;
  padding-top: 40px;
  padding-left: 90px;
  margin-bottom: 50px;
}

#username {
  width: 270px;
  height: 45px;
  margin-left: 80px;
  background-color: #e5e8ed;
  border-width: 0px;
  border-radius: 3%;
}
.uname {
  margin-bottom: 15px;
}
#password {
  width: 270px;
  height: 45px;
  margin-left: 80px;
  font-size: 25px;
  background-color: #e5e8ed;
  border-width: 0px;
  border-radius: 3%;
}
.pass {
  margin-bottom: 15px;
}
.checkclass {
  margin-left: 80px;
  color: #786fdf;
  margin-bottom: 15px;
}
button {
  width: 270px;
  height: 45px;
  margin-left: 80px;
  border-width: 0px;
  border-radius: 3%;
  background-color: #746bde;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  margin-left: 125px;
}
